<script type="template" id="agenda-detail-template">

  <div class="header">
    <button class="done" id="done">Back to Profile</button>
  </div>
  <fieldset>
    <label>Location</label>
    <input id="location-location" type="string" name="place" value="<%%= place %>">
  </fieldset>
  <fieldset>
    <label>Planned Date</label>
    <input id="location-planned-date" type="string" name="planned_date" value="<%%= planned_date %>">
  </fieldset>
  <fieldset>
    <label>Visited Date</label>
    <input id="location-visited-date" type="string" name="visited_date" value="<%%= visited_date %>">
  </fieldset>
  <fieldset>
    <button id="save">Save</button>
    <button id="remove">Remove</button>
  </fieldset>
  
</script>
