<!--******** Landing Page **********-->
<div class="page-container" id="landing-pg-main-div">
  <div class="fade-in one" id="headline">
    We Want To Travel the World.
  </div>

  <div class="fade-in two" id="subheadline">
    Connect with other globetrotters who have been where you want to go. Share stories, pictures, and travel tips.
  </div>

  <div class= "fade-in three">
    <a href="/users/new" class="btn-xlarge" id="get-started-btn">Get Started</a>
  </div>

  <div id="landing-pg-imgs">
    <img src="assets/landing_pg/TreeInTheWater-HighRes.jpg">
    <img src="assets/landing_pg/BuildingsOnACliff-HighRes.jpg">
    <img src="assets/landing_pg/SnowyMountains-HighRes.jpeg">
    <img src="assets/landing_pg/ChineseStreet-HighRes.jpg">
  </div>
</div>
