<%% users.each(function(user){ %>
  <div id="profile-pic-div">
    <img src=<%%= user.get('image_url') %>>
  </div>
  <div id="profile-pic-username">
    <%%= user.get('username') %> 
  </div>
<%% }) %>
