<script type="template" id="story-detail-template">
  <div class="header">
    <button class="done" id="done">Back to Profile</button>
  </div>
  <fieldset>
    <label for="story-title">Title</label>
    <input id="story-title" type="text" name="title" value="<%%= title %>">
  </fieldset>
  <fieldset>
    <label for="story-location">Location</label>
    <input id="story-location" type="text" name="location" value="<%%= location %>">
  </fieldset>
  <fieldset>
    <label for="story-description">Description</label>
    <input id="story-description" type="text" name="description" value="<%%= description %>">
  </fieldset>
  <fieldset>
    <button id="save">Save</button>
    <button id="remove">Remove</button>
  </fieldset>
</script>
