<div id="profile-stories-div">
  <p class="profile-section-header" id="stories-header"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Your Stories</p>
  <div id="profile-stories-list-non-current-user">
    <%% stories.each(function(story){ %>
    <div class="story-list-item">
        <div id="story-title">
          <%%= story.get('title') %>
        </div>
        <div id="story-location">
          where: <%%= story.get('location') %>
        </div>
        <div id="story-description">
          <%%= story.get('description') %>
        </div>  
      </div>    
    <%% }) %>
  </div>
</div>
