<div id="profile-stories-div">
  <p class="profile-section-header" id="stories-header"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Your Stories</p>

  <div id="story-form">
    <form id="create-story-form">
      <input type="text" name="Title" placeholder="Title of Your Trip" id="story-form-title">
      <input type="text" name="Location" placeholder="Location" id="story-form-location">
      <textarea name="Description" id="story-form-description" placeholder="Please provide a detailed description of your trip"></textarea>
      <input type="submit" name="Submit">
    </form>
  </div>

  <div id="profile-stories-list">
    <%% stories.each(function(story){ %>
    <div class="story-list-item">
      <div>
        <a href="#users/<%%= story.get('user_id') %>/stories/<%%= story.get('id') %>" id="story-title"><%%= story.get('title') %></a>
      </div>
      <div id="story-location">
        where: <%%= story.get('location') %>
      </div>
      <div id="story-description">
        <%%= story.get('description') %>
      </div>
    </div>
    <%% }) %>
  </div>

</div>
