<script type="template" id="story-list-1-template">
  <div class="col-xs-12" id="stories-main-div">
    <p class="profile-section-header" id="stories-header"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Your Stories</p>

    <div id="story-form">
      <form id="create-story-form">
        <input type="text" name="story-title" placeholder="Title of Your Trip" class="col-xs-12" id="story-form-title">
        <input type="text" name="story-location" placeholder="Country" class="col-xs-12" id="story-form-location">
        <textarea name="story-description" class="col-xs-12" id="story-form-description" placeholder="Share your story here"></textarea>
        <button class="btn" type="button" id="submit-story-btn"> <span class="glyphicon glyphicon-pencil"></span> Post</button>
      </form>
    </div>

    <div id="profile-stories-list">
      <%% stories.each(function(story){ %>
      <div class="story-list-item">
        <div class="story-list-item-title">
          <a href="#users/<%%= story.get('user_id') %>/stories/<%%= story.get('id') %>"><%%= story.get('title') %></a>
        </div>
        <div class="story-list-item-location">
          where: <%%= story.get('location') %>
        </div>
        <div class="story-list-item-description">
          <%%= story.get('description') %>
        </div>
      </div>
      <%% }) %>
    </div>
  </div>  
</script>
