<div id="profile-background-img">
    <img src="assets/profile_backgrounds/img3.jpg">
</div>

<div id="profile-travel-agenda-div">
  <p class="profile-section-header" id="travel-agenda-header"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Your Travel Agenda</p>
  <% if current_user %>
    <a href="#locations/<%= current_user.id %>"id="add-destination-link">Add Destinations</a><br>
  <% end %>
  <%% locations.each(function(location){ %>
    <div class="travel-agenda-item">
      <div class="travel-agenda-item-title">
        <a href="#users/<%%= location.get('user_id')%>/locations/<%%= location.get('id') %>"><%%= location.get('place') %></a>
      </div>
      <div class="travel-agenda-item-planned-date">
        <p>Planned date: <%%= location.get('planned_date') %></p>
      </div>
      <div class="travel-agenda-item-visited-date">      
        <p>Visited date: <%%= location.get('visited_date') %></p>
      </div>
    </div>
  <%% }) %>
</div>
