<script type="template" id="user-location-list-template">

  <h3 id="add-destinations-header">Step 1: Add Destinations</h3>

  <p class="add-destinations-txt">This should be your wish list of places to go. Explore the map to find interesting places.</p>

  <input id="autocomplete" name="location" placeholder=" Type a Country + Hit Enter to Add " onFocus="geolocate()" type="text">

  <ol id="userlocations-list">
  <%% locations.each(function(location){ %>
    <li class="add-destinations-txt"><%%= location.get('place') %></li>
  <%% }) %>
  </ol>

  <% if current_user %>
    <a href="#profiles/<%= current_user.id %>" id="next-btn">DONE WITH LIST</a>
  <% end %>
</script>
