<!--** Landing Page **-->
<%= render "landing_pg_template" %>

<!--*** Destination Selection Page***-->
<div id="map-canvas"></div>

<div id="bar-chart">
  <h3> Top 10 Most Popular Destinations In The World </h3>
</div>

<div id="user-locations-container"></div>

<!--******** Profile Page **********-->
<div id="profile-pg-profile-link-container"></div>

<div id="profile-pg-profile-pic-container"></div>

<div id="profile-pg-travel-agenda-container"></div>

<div id="profile-pg-stories-container"></div>

<div id="profile-pg-other-users-container"></div>

