
<%= render "landing_pg_template" %>
<div class="container" id="main-container">

  <!--*** Destination Selection Page***-->
  <div class="page-container" id="locations-page">
    <div class="row">
      
      <div class="col-xs-12 col-sm-12 col-md-4" id="user-locations-container"></div>
      

      <div class="col-xs-12 col-sm-12 col-md-8" id="map-and-chart">
        <div id="map-canvas"></div>
        <div id="bar-chart">        
          <h3> Top 10 Most Popular Destinations In The World </h3>
        </div>
      </div>
    </div>
  </div>

  <!--******** Profile Page **********-->
  <div class="page-container" id="profile-page">
    <div class="row" id="profile-top-container">
      <div class="col-xs-12" id="profile-background-img">
        <img src="assets/profile_backgrounds/img3.jpg">
      </div>
    </div>  
    <div class="row">
      <div class="col-xs-12" id="profile-pg-profile-pic-container"></div>
    </div>
    <div id="profile-pg-profile-link-container"></div>
    <div class="row" id="profile-bottom-container">
      <div class="col-xs-12 col-md-3" id="profile-pg-travel-agenda-container"></div>
      <div class="col-xs-12 col-md-6" id="profile-pg-stories-container"></div>
      <div class="col-xs-12 col-md-3" id="profile-pg-other-users-container"></div>
    </div>
  </div>

  <!--***** Story Detail Page *******-->
  <div class="page-container" id="story-detail-page">
    <div id="story-detail-container"></div>
  </div>

  <!--***** Agenda Detail Page ******-->
  <div class="page-container" id="agenda-detail-page">
    <div id="agenda-detail-container"></div>
  </div>
</div>
