<!--** Landing Page **-->
<%= render "landing_pg_template" %>

<!--*** Destination Selection Page***-->
<div id="map-canvas"></div>

<div id="bar-chart">
  <h3> Top 10 Most Popular Destinations In The World </h3>
</div>