// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/********** Landing Page ************/

.navbar {
    position: fixed !important;
    top: 0px;
    width: 100%;
    z-index: 3;
    background: rgba(2, 26, 39, 0.7);
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration:none;
}

#headline {
  font-size: 5.5em; 
  color: white;
  position: relative;
  text-align: center;
  position: absolute;
  z-index: 0;
  top: 210px;
  width: 100%;
  /*background-color: red;*/
}

#subheadline {
  font-size: 2em;
  color: white;
  width: 700px;
  display: block;
  margin: 0 auto; 
  text-align:center;
  position: absolute;
  z-index: 0;
  top: 350px;
  left:0; 
  right:0;
  /*background-color: green;*/
}


.login-btns {
  width: 70px; 
  height: 25px;
  position: relative;
  top: 10px;
  margin-right: 10px;
  /*background-color: blue;*/
}


#get-started-btn {
  width: 200px;
  display: block;
  margin: 0 auto;   
  position: absolute;
  z-index: 0;
  top: 500px;
  left:0; 
  right:0;
  color:white;
  /*background-color: orange;*/
}


#landing-pg-main-div{
  height:94%;
  width: 100%;
  margin-top: -20px;
  /*background-color: blue;*/
}

#landing-pg-imgs{
  height: 100%;
  width:100%;
  position: relative;
  z-index:-1;
  overflow: hidden;
  /*background-color: #DDD;*/
}


#landing-pg-imgs img{
  width: 100%;
  position: relative;
  z-index:-1;
  overflow: hidden;
}

.btn-xlarge {
    padding: 12px 24px;
    font-size: 22px;
    line-height: normal;
    border: 3px solid white;
    text-align: center;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
 
 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
animation-delay: 1s;
}
 
.fade-in.two {
-webkit-animation-delay: 1.6s;
-moz-animation-delay:1.6s;
animation-delay: 1.6s;
}
 
.fade-in.three {
-webkit-animation-delay: 2.2s;
-moz-animation-delay: 2.2s;
animation-delay: 2.2s;
}

/********** Create An Account Page ************/

.new_user {
  width: 500px;
  position: relative;
  display: block;
  margin: 0 auto;
}

#create-new-user-header {
  margin-top: 100px;
  text-align: center;
}

/********** Login Page ************/

#login-form {
  position:relative;
  margin-left: 20px;
  margin-top: 100px;
}

/********** Add Destinations Page ************/

#map-canvas {
  height: 400px;
  max-width: 900px;
  position: relative;
  margin-left: 34%;
  margin-top: 70px;
}

#user-locations-container {
  background-color:rgba(118,118,118,0.5);
  width: 30%;
  min-height: 720px;  
  position:fixed;
  padding: 20px;  
  z-index: 0;
  margin-top: -960px;
  left:25px;
}

#userlocations-list {
  height: 100%;
  width: 100%;
}

#add-destinations {
  height: 100%;
  width: 100%;
}

#add-destinations-header {
  font-size: 2.5em;
  color: white;
} 

.add-destinations-txt {
  font-size: 1.5em;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
  
#input-destination {
  height:42px;
  width: 150px;
  padding: 10px;
  font-size: 1.25em;
}

#userlocations-list {
  margin-bottom: 75px;
}

#next-btn {
    border: 3px solid white;
    padding: 10px 20px 10px 20px;
}

#bar-chart{
  margin-left: 34%;
}

.destination {
  background-color: gray;
  height: 2.5em;
  padding: 0.5em;
  margin: 0.5em;
  width: 0px;
  font-size: 1.2em;
  color: white;
  white-space: nowrap;
  z-index: 1; 
}

/********** Profile Page ************/

#profile-background-img {
  position:relative;
  width: 100%;
  margin-top: 75px;
  z-index: -1;
}

#profile-background-img img {
  height: 450px;
  width: 100%;
  margin-top: -20px;
}

#profile-pg-profile-link-container {
  width: 100px;
  float: right;
  position: fixed;
  z-index:4;
  right: 100px;
  top: 10px;
}

#profile-pic-nav {
  height: 30px;
  width: 30px;
}

.profile-pic {
  position: absolute;
  width: 320px;
  top: 315px;
  left: 75px;
  z-index: 2;
}

#profile-pic-div{
  float: left;
}

#profile-pic-username{
  float: right;
  font-size: 2em;
  color: white;
  margin-top: 100px;
}

#profile-pic-img {
  position:relative;
  margin-left: 50px;
  margin-top: -130px;
}

#profile-pic-img img {
  height: 150px;
  width: 150px;
}

.profile-section-header {
  font-size: 1.7em;
  color: white;
}

#profile-travel-agenda-div {
  background-color: #8B9199;
  width: 25%;
  position: absolute;
  margin-top: 2.8%;
  margin-right: 2.5%;
  padding: 30px;
  left: 2.5%;
  min-height: 800px;
}

#travel-agenda-header{
  margin-left: 10px;
}

#add-destination-link{
  margin-left:10px;
}

.travel-agenda-item {
  background-color: white;
  color: #2E2E2E;
  padding: 5px;
  margin: 10px;
}

.travel-agenda-item-title {
  color: #2496CC;
  font-size: 1.5em;
}

.travel-agenda-item-title:hover {
  color: #2496CC;
  font-size: 1.5em;
}


#profile-stories-div {
  background-color: #8B9199;
  width: 40%;
  position:absolute;
  margin-top: 40px;
  right: 30%;
  padding: 30px;
  min-height: 800px;
  color: white;
}

#stories-header{
  margin-left:10px;
}

#story-form {
  margin-top:23px;
  position: absolute; 
  width: 88.5%;
  left: 5.75%;
  padding:5px;
}

#story-form-title {
  width: 100%;
}

#story-form-location {
  width: 100%;
}

#story-form-description {
  width: 100%;
  height: 100px;
  color: #ADADAD;
  font-size: 1.075em;
}

#profile-stories-list{
  font-size: 1.05em;
  position:absolute;
  margin-top: 220px;
  width: 482px;
}

.story-list-item {
  background-color: white;
  color: #2E2E2E;
  width: 100%;
  margin: 10px;
  padding: 5px;
}

.story-list-item a {
  color:#2E2E2E;
}

#story-title {
  font-size: 1.7em;
  color: #26AD90;  
}

#story-description {
  font-size: 1em;
}

#profile-stories-list-non-current-user{
  width: 482px;  
}

#profile-pg-other-users-container {
  background-color: #8B9199;
  position: relative;
  margin-top: 40px;
  margin-left: 72%;
  width: 26%;
  min-height: 800px;
  z-index: 2;
  padding: 30px;

}

#other-users-icons-list {
  margin-top: 30px;
}

.other-user-main-div {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  float:left;
  position:relative;
  margin: 2px;
}

.other-user-shaded-div{
  border-radius: 50%;
  width: 70px;
  height: 70px; 
  background-color: black;
  opacity: 0.5;
  position:relative;  
  z-index: 2;
  float:left;
  margin-top:-70px;
}

.other-user-username-div{
  border-radius: 50%;
  width: 70px;
  height: 70px; 
  color: white;
  float:left;  
  margin-top:-70px;
  text-align:center;
  line-height:70px;
  position:relative;  
  z-index: 3;
}

.other-user-img {
  border-radius: 50%;
  width: 70px;
  height: 70px; 
  position:relative;  
  z-index: -1;
  float:left;
}

#story-detail-container {
  margin-top: 60px;
}

#agenda-detail-container {
 margin-top: 60px; 
}
